@import "../../../../styles/variables.scss";

.logo__name {
  font-family: 'Trajan Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 10px;
  margin-top: 20px;
}

