@use "@styles/variables";

/// Here starts header-logo
.logo__name {
  font-family: "Trajan Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 20px;
}

/// Here starts nav
.header {
  padding: 0;
  background: #181a1b;
}

.nav {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  padding: 0;
  margin-left: 3rem;
  user-select: none;
}

.nav__link {
  color: azure;

  &:hover {
    color: red;
  }
}

/// Here starts input
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;

  .search-input {
    width: 300px;
    margin-right: 6.875rem;
    border: 1px solid grey;
    border-radius: 25px;
    background: none;
    color: white;

    input::placeholder {
      color: white !important;
    }

    &:hover {
      border: 1px solid white;
    }

    &::placeholder {
      text-align: center;
      color: yellow !important;
    }
  }

  .search-button {
    font-size: 20px;
    margin-left: 5px;
  }

  .search-icon {
    color: white;
  }

  /// Here starts adaptive
  @media (max-width: 992px) {
    .search-input {
      width: 250px;
    }
  }

  @media (max-width: 768px) {
    .search-input {
      width: 200px;
    }
  }

  @media (max-width: 480px) {
    .search-input {
      width: 200px;
    }
  }

  @media (max-width: 320px) {
    .search-input {
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
  .nav {
    display: block;
    padding: 1.5rem;
  }
}
