@use "@styles/variables";

/// Here starts header and
.header {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 60px;
  padding: 0;
  background: #181a1b;
  padding-left: 100px;
  border-bottom: 2px solid #333333;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-right: 0.9375rem;
}

/// Here starts header-logo
.logo__name {
  font-family: "Trajan Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 20px;
  word-break: break-all;
}

.logo__link {
  text-decoration: none;
  color: #ffffff;
}

/// Here starts input
.search {
  display: flex;
  align-items: center;
  // background: rgba(255, 255, 255, 0.1); или
  background-color: none;
  border: 2px solid grey;
  border-radius: 25px;
  padding: 0 10px;
  width: 18.75rem;
  height: 2.2rem;
  user-select: none;
  transition: border-color 0.3s ease;
  overflow: hidden;

  &:hover {
    border: 1px solid white;
  }

  &:focus-within {
    border-color: white;
  }

  .search__input {
    flex: 1;
    font-size: 16px;
    align-items: center;
    border: none;
    background: none;
    color: white;
    outline: none;
    padding: 0 10px 0 0;
    height: 100%;

    &::placeholder {
      color: white;
      opacity: 0.7;
    }
  }

  .search__button {
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
//Here start profile
.profile__link {
  text-decoration: none;
  color: white;

  &:hover {
    color: rgb(165, 149, 120);
  }
}

//Here start currency
.currency {
  min-width: 120px;
  margin-top: 7px;
}

/// Here starts adaptive
@media (max-width: 1024px) {
  .header {
    padding-left: 20px;
  }

  .header__container {
    gap: 1.5rem;
  }

  .search {
    width: 15.75rem;
    height: 2.2rem;
  }

  .currency {
    min-width: 100px;
  }

  .profile__link {
    font-size: 14px;
  }

  .search__input {
    font-size: 14px;
  }

  .search__button {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-left: 20px;
  }

  .header__container {
    gap: 1.5rem;
  }

  .search {
    width: 15.75rem;
    height: 2.2rem;
  }

  .currency {
    min-width: 100px;
  }

  .profile__link {
    font-size: 14px;
  }

  .search__input {
    font-size: 14px;
  }

  .search__button {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .header {
    padding-left: 20px;
  }

  .header__container {
    gap: 1.5rem;
  }

  .search {
    width: 15.75rem;
    height: 2.2rem;
  }

  .currency {
    min-width: 100px;
  }

  .profile__link {
    font-size: 14px;
  }

  .search__input {
    font-size: 14px;
  }

  .search__button {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .header {
    padding-left: 20px;
  }

  .header__container {
    gap: 1.5rem;
  }

  .search {
    width: 15.75rem;
    height: 2.2rem;
  }

  .currency {
    min-width: 100px;
  }

  .profile__link {
    font-size: 14px;
  }

  .search__input {
    font-size: 14px;
  }

  .search__button {
    font-size: 16px;
  }
}