@use "@styles/variables";

/// Here starts header and
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0;
  background: #181a1b;
  padding-left: 100px;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-right: 0.9375rem;
}

/// Here starts header-logo
.logo__name {
  font-family: "Trajan Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 20px;
}

/// Here starts nav
.nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  list-style: none;
  padding: 0;
  user-select: none;
}

.nav__link {
  color: azure;

  &:hover {
    color: red;
  }
}

/// Here starts input
.search {
  display: flex;
  align-items: center;
  // background: rgba(255, 255, 255, 0.1); или
  background-color: none;
  border: 2px solid grey;
  border-radius: 25px;
  padding: 0 10px;
  width: 18.75rem;
  height: 2.2rem;
  transition: border-color 0.3s ease;
  overflow: hidden;

  &:hover {
    border: 1px solid white;
  }

  &:focus-within {
    border-color: white;
  }

  .search__input {
    flex: 1;
    border: none;
    background: none;
    color: white;
    outline: none;
    padding: 0 10px 0 0;
    height: 100%;

    &::placeholder {
      color: white;
      opacity: 0.7;
    }
  }

  .search__button {
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: red;
    }
  }
}
//Here start profile
.profile {
  color: white;

  &:hover {
    color: rgb(165, 149, 120);
  }
}

/// Here starts adaptive
@media (max-width: 992px) {
  .search-input {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .search-input {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .search-input {
    width: 200px;
  }
}

@media (max-width: 320px) {
  .search-input {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .nav {
    display: block;
    padding: 1.5rem;
  }
}
