.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;


  .search-input {
    width: 350px;
    margin-right: 5px;
    border: 1 solid grey;
    border-radius: 25px;
    background: none;
    color:white;

    &::placeholder {
      color: white;
    }
  }

  .search-button {
    border: 1px solid grey;
    margin-left: 5px;
    color: wheat;

    &:hover {
      background-color: #1890ff;
      border: 1px solid #1890ff;
    }
  }

  @media (max-width: 992px) {
    .search-input {
      width: 250px;
    }
  }

  @media (max-width: 768px) {
    .search-input {
      width: 200px;
    }
  }

  @media (max-width: 480px) {
    .search-input {
      width: 200px;
    }
  }

  @media (max-width: 320px) {
    .search-input {
      width: 100px;
    }
  }
}

