@import "../../../../styles/variables.scss";

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;

  .search-input {
    width: 300px;
    margin-right: 6.875rem;
    border: 1px solid grey;
    border-radius: 25px;
    background: none;
    color: white;

    input::placeholder{
    color: white !important;
    }

    &:hover {
      border: 1px solid white;
    }

    &::placeholder {
      text-align: center;
      color: yellow !important;
    }
  }

  .search-button {
    font-size: 20px;
    margin-left: 5px;
  }

  .search-icon {
    color: white;
  }

  @media (max-width: 992px) {
    .search-input {
      width: 250px;
    }
  }

  @media (max-width: 768px) {
    .search-input {
      width: 200px;
    }
  }

  @media (max-width: 480px) {
    .search-input {
      width: 200px;
    }
  }

  @media (max-width: 320px) {
    .search-input {
      width: 100px;
    }
  }
}